################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/mophapp.ino
/src/constants.h
/src/events.h
/src/FreeMemory.h
/src/models.h
/src/device/no3.h
/src/device/no2.h
/src/device/gris5a.h
/src/device/device.h
